{% extends 'base.html.twig' %}

{% block title %}
    Cabinet for {{ app.user.username }}
{% endblock %}

{% block body %}
    <h2 style="text-align: center;">Welcome to your Cabinet!</h2>

    <p><b>Username</b>: {{ app.user.username }}</p>
    <p><b>Email</b>: {{ app.user.email }}</p>
    <p><b>FullName</b>: {{ app.user.fullName }}</p>
    <p><b>User Logo: </b><br>
        {% if app.user.logo is not empty %}
            <img src="{{ asset(app.user.logo) | imagine_filter('big') }}" alt="{{ app.user.username }}">
        {% else %}
            -
        {% endif %}
    </p>
    <a href="{{ path('user_profile_edit') }}" role="button" class="btn btn-success">Edit Profile</a>

{% endblock %}