{% extends 'admin/lte.html.twig' %}

{% block title %}
    Products
{% endblock %}

{% block content_body %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="box-header">
                        <h3 class="box-title">Products</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Count</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{ product.id }}</td>
                                    <td><a href="{{ path('admin_product_current', {'id': product.id}) }}">{{ product.title }}</a></td>
                                    <td>{{ product.description }}</td>
                                    <td>{{ product.category.title }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.count }}</td>
                                    <td>
                                        {% if product.image is not empty %}
                                            <img src="{{ asset(product.image) | imagine_filter('middle') }}" alt="{{ product.title }}">
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('admin_product_edit', {'id': product.id}) }}" role="button" class="btn btn-warning">Edit</a>
                                        <a href="{{ path('admin_product_delete', {'id': product.id}) }}" role="button" class="btn btn-danger">Remove</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a href="{{ path('admin_product_add') }}" role="button" class="btn btn-primary">Add new</a>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}